@model IEnumerable<StockManagementSystem.Models.Category>
@{
    Layout = "_Layout";
}

<div class="mt-2" style="width:50%">
    <div class="row">
        <p><h3 style="color : brown">Category List</h3></p>
        <div class="col-md-4">
            <a href="/Category/Create" class="btn btn-outline-primary" style="display: inline">Create Category</a>
        </div>
        <p>

        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>

                        <td>
                            @if (User.IsInRole("StockManager") || User.IsInRole("Admin"))
                            {
                                <a class="btn btn-success" href="/Category/Update?id=@item.Id">Edit</a>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-danger" href="/Category/Delete?id=@item.Id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
    <a class="btn btn-outline-primary" style="display: inline" href="@Url.Action("DownloadCsv", "Category")"><b>Dawonload</b></a>
</div>
