@using StockManagementSystem.Models;
@model StockManagementSystem.Models.Item
@{
    IEnumerable<Category> _categories = ViewData["_category"] as IEnumerable<Category>;
    IEnumerable<Company> _company = ViewData["_comp"] as IEnumerable<Company>;
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}
<p><h3 style="color : brown">Add New Item</h3></p>
<div class="mt-2" style="width:50%">
    <form asp-action="Create">
        <div class="mb-2">
            <label asp-for="Name" class="form-label"><b>Name</b></label>
            <input asp-for="Name" type="text" class="form-control mt-2">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Quantity" class="form-label"><b>Quantity</b></label>
            <input asp-for="Quantity" type="number" class="form-control mt-2">
            <span class="text-danger" asp-validation-for="Quantity"></span>
        </div>
        <div class="mb-2">
            <label asp-for="ReOrderLevel" class="form-label"><b>ReOrder Level</b></label>
            <input asp-for="ReOrderLevel" type="number" class="form-control mt-2">
            <span class="text-danger" asp-validation-for="ReOrderLevel"></span>
        </div>
            <label asp-for="CategoryId" class="mb-1"for="Category"><b>Category</b></label>
             <select class="form-select mt-2" id="Category" asp-for="CategoryId">
            <option disabled selected>
                Select Categories
            </option>
                @foreach(var x in _categories)
                {
                    <option asp-for="CategoryId" value="@x.Id">@x.Type</option>
                }

             </select>
             <p>

             </p>
            <label asp-for="CompanyId" class="mb-1" for="Company"><b>Company</b></label>
            <select class="form-select mt-2" id="Company"  P asp-for="CompanyId">
            <option disabled selected>
                Select Company
            </option>
                @foreach (var y in _company)
                {
                    <option asp-for="Companyid" value="@y.Id">@y.Name</option>
                }

            </select>
            <p>

            </p>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/Item/Show" class="btn btn-primary">Show All Items</a>
        <a href="/Item/SearchItem" class="btn btn-primary">SearchItem</a>
    </form>
</div>
